<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<servlet-class>controler.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Payment</servlet-name>
  	<servlet-class>controler.user.shop.Payment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistration</servlet-name>
  	<servlet-class>controler.UserRegistration</servlet-class>
        <init-param>
        <param-name>charset</param-name>
        <param-value>utf-8</param-value>
        </init-param>
  </servlet>
  <servlet>
  	<servlet-name>Mine</servlet-name>
  	<servlet-class>controler.user.mine.Mine</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ShoppingTrolley</servlet-name>
  	<servlet-class>controler.user.shop.ShoppingTrolley</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserHomePage</servlet-name>
  	<servlet-class>controler.user.UserHomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddNewPerson</servlet-name>
  	<servlet-class>controler.root.AddNewPerson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderManager</servlet-name>
  	<servlet-class>controler.administrator.ordermanager.OrderManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FinancialManager</servlet-name>
  	<servlet-class>controler.administrator.financialmanager.FinancialManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AfterSalesManager</servlet-name>
  	<servlet-class>controler.administrator.aftersalesmanager.AfterSalesManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductDetail</servlet-name>
  	<servlet-class>controler.user.shop.ProductDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchAndResults</servlet-name>
  	<servlet-class>controler.user.shop.SearchAndResults</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Payment</servlet-name>
  	<url-pattern>/user/shop/Payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistration</servlet-name>
  	<url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>Mine</servlet-name>
  	<url-pattern>/user/mine/Mine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  
  	<servlet-name>ShoppingTrolley</servlet-name>
  	<url-pattern>/user/shop/ShoppingTrolley</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserHomePage</servlet-name>
  	<url-pattern>/user/UserHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddNewPerson</servlet-name>
  	<url-pattern>/root/AddNewPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderManager</servlet-name>
  	<url-pattern>/administrator/ordermanager/OrderManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FinancialManager</servlet-name>
  	<url-pattern>/administrator/financialmanager/FinancialManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AfterSalesManager</servlet-name>
  	<url-pattern>/administrator/aftersalesmanager/AfterSalesManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDetail</servlet-name>
  	<url-pattern>/user/shop/ProductDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchAndResults</servlet-name>
  	<url-pattern>/user/shop/SearchAndResults</url-pattern>
  </servlet-mapping>


  
</web-app>
